influxdb:
  host: localhost
  port: 8086
  dbuser: scd4x
  dbuser: scd4x
  dbname: ambient
  retension: 156w
app:
  monitoring:
    intervals:  3
  font:
    path: /usr/share/fonts/opentype/ipafont-gothic/ipagp.ttf
  display:
    intervals: 10m
